body{
	background-image: url("../img/arabesque.jpg");
}
h1{
	font-size :50px;
	
}
#grosChampi{
	padding-top:30px;
	 overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50%;
    
	width: 500px;
	width:500px
}

div #test{
	font-color: blue;
}
