
{% extends '::base.html.twig' %}
{% block title %} Accueil {% endblock %}

{% block body %}<center>
    <h1>Bonjour  {{ app.user.username }} </h1>
  
    <img id = "grosChampi" src="{{asset('img/groschampi.jpg')}}"  >
    </center>
{%endblock%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/hello/css/accueilCo.css')}}"/>
    
{% endblock %}