<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}{% endblock %}-Mon blog</title> <!-- permet au texte de s'adapter a la fenetre -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>-->
		{% block stylesheets %}{% endblock %}
<body>
	{% block nav %}{% include '::nav.html.twig' %}{% endblock %}
	{% block body %}{% endblock %}
	{% block javascripts %}{% endblock %}
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="{{ asset('js/bootstrap.min.js')}}"></script>
</body>
</html>
